---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magni expedita,
    accusamus ea ducimus voluptatum commodi ullam quisquam sit fugit delectus,
    qui nihil illum, quasi excepturi. Perspiciatis fugit qui earum quo
    necessitatibus ipsa culpa consequatur eaque aut at placeat labore excepturi
    dolores nihil, numquam corporis sit tenetur minima soluta neque! Ducimus non
    officia molestiae doloremque? Nemo, earum. Molestiae harum voluptate eos
    quos. Esse facilis accusamus odit sapiente harum at, nisi eveniet
    repellendus! Qui officia molestias optio fugiat. Adipisci, esse modi! Labore
    inventore eos ducimus repellat similique explicabo minus maxime magni
    laborum, placeat qui aperiam repudiandae non quis velit pariatur molestiae.
  </p>
</Layout>
